BACK-END

In [15]:
import mysql.connector

class AccommodationBooking:
    def __init__(self):
        self.connection = mysql.connector.connect(
            host="127.0.0.1",
            port=3006,
            user="root",
            password="Silver@2004",
            database="travel_booking",
            autocommit=True
        )
        self.cursor = self.connection.cursor()

    def show_tables(self):
        show_tables_query = "SHOW TABLES"
        self.cursor.execute(show_tables_query)
        tables = self.cursor.fetchall()
        print("Tables in the database:")
        for table in tables:
            print(table[0])

    def enter_customer_details(self):
        print("Enter your details!")
        customer_id = int(input("Enter CustomerID: "))
        full_name = input("Enter Full Name: ")
        email_address = input("Enter Email Address: ")
        dob = str(input("Enter Date of Birth (YYYY-MM-DD): "))
        insert_data_query = "INSERT INTO customerinformation (CustomerID, FullName, EmailAddress, DOB) VALUES (%s, %s, %s, %s)"
        data_to_insert = (customer_id, full_name, email_address, dob)
        self.cursor.execute(insert_data_query, data_to_insert)
        self.connection.commit()
        print("Your details are added!")
        select_data_query = "SELECT * FROM customerinformation WHERE customerid=%s"
        self.cursor.execute(select_data_query, (customer_id,))
        print("Please remember your Customer ID",customer_id)

        # Fetch all rows
        rows = self.cursor.fetchall()
        for row in rows:
            print(row)
        self.cursor.fetchall()     

    def choose_accommodation(self):
        print("Choose an accommodation from the list below:")
        select_data_query = "SELECT * FROM accommodation"
        self.cursor.execute(select_data_query)
        accommodations = self.cursor.fetchall()
        for accommodation in accommodations:
            print(accommodation)

    def enter_booking_details(self):
        print("Enter Your Booking Details")
        booking_id = int(input("Enter Booking ID (any 3 digit number): "))
        customer_id=int(input("Enter your CustomerID: "))
        accommodation_id = int(input("Enter AccommodationID of the chosen accommodation: "))
        check_in_date = input("Enter Check-in Date (YYYY-MM-DD): ")
        check_out_date = input("Enter Check-out Date (YYYY-MM-DD): ")
        num_of_guests = int(input("Enter Number of Guests: "))
        room_type = input("Enter Room Type: ")
        insert_data_query = "INSERT INTO booking VALUES (%s, %s, %s, %s, %s, %s, %s)"
        data_to_insert = (booking_id, customer_id, accommodation_id, check_in_date, check_out_date, num_of_guests, room_type)
        self.cursor.execute(insert_data_query, data_to_insert)
        self.connection.commit()
        print("Your booking is created!")
         # Select data
        select_data_query = "SELECT * FROM booking WHERE customerid=%s"
        self.cursor.execute(select_data_query, (customer_id,))
        print("Please remember your Booking ID",booking_id)

        # Fetch all rows
        rows = self.cursor.fetchall()
        for row in rows:
            print(row)

    def special_requests(self):
        special = input("Do you have any special requests for your stay? (yes/no) ")
        if special.lower() == "yes":
            print("Enter your Details")
            booking_id = int(input("Enter Your Booking ID: "))
            special_request_id = int(input("Enter Special Request ID: "))
            special_request_description = input("Enter Description of Special Request: ")
            insert_special_requests_query = "INSERT INTO specialrequests (BookingID, SpecialID, request) VALUES (%s, %s, %s)"
            data_special_requests = (booking_id, special_request_id, special_request_description)
            self.cursor.execute(insert_special_requests_query, data_special_requests)
            self.connection.commit()
            print("Special Requests information has been recorded!")
            select_data_query = "SELECT * FROM specialrequests WHERE bookingid=%s and specialid=%s"
            self.cursor.execute(select_data_query, (booking_id, special_request_id))
            # Fetch all rows
            rows = self.cursor.fetchall()
            for row in rows:
                print(row)
            self.cursor.fetchall()  
        else:
            print("Okay!")

    def payment_information(self):
        booking_id = int(input("Enter Your Booking ID: "))
        payment_method = input("Enter Payment Method: ")
        print("To be entered by your booking agent")
        payment_id = int(input("Enter Payment ID: "))
        amount = float(input("Enter Total Amount: "))
        payment_status = input("Enter Payment Status: ")
        insert_data_query = "INSERT INTO paymentinformation VALUES (%s, %s, %s, %s, %s)"
        data_to_insert = (payment_id, booking_id, amount, payment_status, payment_method)
        self.cursor.execute(insert_data_query, data_to_insert)
        self.connection.commit()
        print("Your payment details are added!")
        select_data_query = "SELECT * FROM booking WHERE bookingid=%s"
        self.cursor.execute(select_data_query, (booking_id,))
        # Fetch all rows
        rows = self.cursor.fetchall()
        for row in rows:
            print(row)
        self.cursor.fetchall()

    def fetch_booking_details_by_customer_id(self):
        customer_id=int(input("enter your CustomerID: "))
        query = """
        SELECT
            c.CustomerID,
            c.FullName AS CustomerName,
            a.AccommID,
            a.accommname AS AccommodationName,
            b.BookingID,
            b.CheckinDate,
            b.CheckoutDate,
            b.guestno,
            b.RoomType,
            p.PaymentID,
            p.Amount,
            p.Status,
            p.PMethod,
            sr.SpecialID,
            sr.request AS SpecialRequestDescription
        FROM CustomerInformation c
        JOIN Booking b ON c.CustomerID = b.CustomerID
        JOIN Accommodation a ON b.AccommodationID = a.AccommID
        LEFT JOIN PaymentInformation p ON b.BookingID = p.BookingID
        LEFT JOIN SpecialRequests sr ON b.BookingID = sr.BookingID
        WHERE c.CustomerID = %s;
        """
        self.cursor.execute(query, (customer_id,))
        rows = self.cursor.fetchall()
        for row in rows:
            print(row)
        self.cursor.fetchall()

    def close_connection(self):
        self.cursor.close()
        self.connection.close()



booking_instance = AccommodationBooking()
booking_instance.show_tables()

Tables in the database:
accommodation
booking
customercontact
customerinformation
paymentinformation
specialrequests

FRONT-END

In [16]:
def main():
    booking_instance = AccommodationBooking()
    print("\n=== Welcome to Book Your Stay ===")
    while True:
        print("1. See the required details")
        print("2. Enter your details(if you are a new customer)")
        print("3. See accommodations available")
        print("4. Enter Booking Details")
        print("5. Special Requests")
        print("6. Payment Information")
        print("7. See Your Details")
        print("8. Exit")

        choice = input("Enter your choice (1-7): ")

        if choice == "1":
            booking_instance.show_tables()
        elif choice == "2":
            booking_instance.enter_customer_details()
        elif choice == "3":
            booking_instance.choose_accommodation()
        elif choice == "4":
            booking_instance.enter_booking_details()
        elif choice == "5":
            booking_instance.special_requests()
        elif choice == "6":
            booking_instance.payment_information()
        elif choice == "7":
            booking_instance.fetch_booking_details_by_customer_id()
            break
        elif choice == "8":
            print("Exiting the program.")
            break
        else:
            print("Invalid choice. Please enter a number between 1 and 7.")

    booking_instance.close_connection()


if __name__ == "__main__":
    main()

=== Welcome to Book Your Stay ===
1. See the required details
2. Enter your details(if you are a new customer)
3. See accommodations available
4. Enter Booking Details
5. Special Requests
6. Payment Information
7. See Your Details
8. Exit

Tables in the database:
accommodation
booking
customercontact
customerinformation
paymentinformation
specialrequests
1. See the required details
2. Enter your details(if you are a new customer)
3. See accommodations available
4. Enter Booking Details
5. Special Requests
6. Payment Information
7. See Your Details
8. Exit
Enter your details!
Your details are added!
Please remember your Customer ID 11
(11, 'Kuttu Geetey', 'kuttu@gmail.com', datetime.date(2004, 3, 18))
1. See the required details
2. Enter your details(if you are a new customer)
3. See accommodations available
4. Enter Booking Details
5. Special Requests
6. Payment Information
7. See Your Details
8. Exit
Choose an accommodation from the list below:
(101, 'JW Marriott Hotel', 'Pune', 'Hotel', 9678430904)
(102, 'Taj Vivanta Hotel', 'Bengaluru', 'Hotel', 9670439904)
(103, 'Jehan Numa Palace', 'Bhopal', 'Hotel', 9676639811)
(104, 'The Leela Palace', 'Jaipur', 'Hotel', 9688640193)
(105, 'Lemon Tree Hotel', 'Pune', 'Hotel', 9777433942)
(106, 'La Grandeur', 'Kota', 'Motel', 9886634242)
(108, 'Evolve Back', 'Coorg', 'Resort', 9768623545)
(109, 'Saffron Stays', 'bhopal', 'Resort', 9778622535)
(110, 'Blue Ocean Resort and Spa', 'Panaji', 'Resort', 9799622535)
1. See the required details
2. Enter your details(if you are a new customer)
3. See accommodations available
4. Enter Booking Details
5. Special Requests
6. Payment Information
7. See Your Details
8. Exit
Enter Your Booking Details
Your booking is created!
Please remember your Booking ID 300
(300, 11, 101, datetime.date(2023, 11, 30), datetime.date(2023, 12, 4), 4, 'Suite')
1. See the required details
2. Enter your details(if you are a new customer)
3. See accommodations available
4. Enter Booking Details
5. Special Requests
6. Payment Information
7. See Your Details
8. Exit
Okay!
1. See the required details
2. Enter your details(if you are a new customer)
3. See accommodations available
4. Enter Booking Details
5. Special Requests
6. Payment Information
7. See Your Details
8. Exit
To be entered by your booking agent
Your payment details are added!
(300, 11, 101, datetime.date(2023, 11, 30), datetime.date(2023, 12, 4), 4, 'Suite')
1. See the required details
2. Enter your details(if you are a new customer)
3. See accommodations available
4. Enter Booking Details
5. Special Requests
6. Payment Information
7. See Your Details
8. Exit
(11, 'Kuttu Geetey', 101, 'JW Marriott Hotel', 300, datetime.date(2023, 11, 30), datetime.date(2023, 12, 4), 4, 'Suite', 12345, Decimal('5000.00'), 'paid', 'UPI', None, None)

OTHER DML COMMANDS (except insert)

In [4]:
connection = mysql.connector.connect(
    host="127.0.0.1",
    port=3006,
    user="root",
    password="Silver@2004",
    database="travel_booking",
    autocommit=True
)
cursor = connection.cursor()

alter_table_query = "ALTER TABLE accommodation modify COLUMN contact bigint"
cursor.execute(alter_table_query)
describe_query="desc accommodation"
cursor.execute(describe_query)
cursor.fetchall()

[('AccommID', 'int', 'NO', 'PRI', None, ''),
 ('AccommName', 'varchar(255)', 'NO', '', None, ''),
 ('Location', 'varchar(255)', 'YES', '', None, ''),
 ('Type', 'varchar(50)', 'YES', '', None, ''),
 ('contact', 'bigint', 'YES', '', None, '')]

In [5]:
select_data_query = "SELECT * FROM accommodation "
cursor.execute(select_data_query)
            # Fetch all rows
rows = cursor.fetchall()
for row in rows:
    print(row)
    cursor.fetchall()

(101, 'JW Marriott Hotel', 'Pune', 'Hotel', 9678430904)
(102, 'Taj Vivanta Hotel', 'Bengaluru', 'Hotel', 9670439904)
(103, 'Jehan Numa Palace', 'Bhopal', 'Hotel', 9676639811)
(104, 'The Leela Palace', 'Jaipur', 'Hotel', 9688640193)
(105, 'Lemon Tree Hotel', 'Pune', 'Hotel', 9777433942)
(106, 'La Grandeur', 'Kota', 'Motel', 9886634242)
(108, 'Evolve Back', 'Coorg', 'Resort', 9768623545)
(109, 'Saffron Stays', 'Mahabaleshwar', 'Resort', 9778622535)
(110, 'Blue Ocean Resort and Spa', 'Goa', 'Resort', 9799622535)

In [7]:
update_data_query = "UPDATE accommodation SET location = %s WHERE accommname LIKE %s"
update_data_values = ('Panaji', 'Blue%')
cursor.execute(update_data_query, update_data_values)
#update

In [8]:
select_data_query = "SELECT * FROM accommodation "
cursor.execute(select_data_query)
            # Fetch all rows
rows = cursor.fetchall()
for row in rows:
    print(row)
    cursor.fetchall()

(101, 'JW Marriott Hotel', 'Pune', 'Hotel', 9678430904)
(102, 'Taj Vivanta Hotel', 'Bengaluru', 'Hotel', 9670439904)
(103, 'Jehan Numa Palace', 'Bhopal', 'Hotel', 9676639811)
(104, 'The Leela Palace', 'Jaipur', 'Hotel', 9688640193)
(105, 'Lemon Tree Hotel', 'Pune', 'Hotel', 9777433942)
(106, 'La Grandeur', 'Kota', 'Motel', 9886634242)
(108, 'Evolve Back', 'Coorg', 'Resort', 9768623545)
(109, 'Saffron Stays', 'Mahabaleshwar', 'Resort', 9778622535)
(110, 'Blue Ocean Resort and Spa', 'Panaji', 'Resort', 9799622535)

In [11]:
select_data_query = "SELECT * FROM paymentinformation "
cursor.execute(select_data_query)
            # Fetch all rows
rows = cursor.fetchall()
for row in rows:
    print(row)
    cursor.fetchall()

(543, 987, Decimal('10000.00'), 'pending', 'cash')
(10010, 123, Decimal('6000.00'), 'paid', 'UPI')
(11101, 111, Decimal('10000.00'), 'Paid', 'Credit')
(11102, 112, Decimal('15000.00'), 'Paid', 'Credit')
(11103, 113, Decimal('8000.00'), 'Paid', 'Bank Transfer')
(11104, 114, Decimal('9900.00'), 'Pending', 'Cash')
(11105, 115, Decimal('5500.00'), 'Pending', 'UPI')

In [12]:
select_data_query = "SELECT * FROM specialrequests "
cursor.execute(select_data_query)
            # Fetch all rows
rows = cursor.fetchall()
for row in rows:
    print(row)
    cursor.fetchall()

(111, 50, 'Birthday Celebration')
(115, 40, 'Pet friendly')
(123, 80, 'Thin Pillow')

In [13]:
delete_request_query = "DELETE FROM specialrequests WHERE specialID = %s"
request_id_to_delete = 80
cursor.execute(delete_request_query, (request_id_to_delete,))
#delete

In [14]:
select_data_query = "SELECT * FROM specialrequests "
cursor.execute(select_data_query)
            # Fetch all rows
rows = cursor.fetchall()
for row in rows:
    print(row)
    cursor.fetchall()

(111, 50, 'Birthday Celebration')
(115, 40, 'Pet friendly')